@charset "utf-8";





#nav {

	list-style:none;
	height:100%;
	margin-top:3%;
	
}
#nav ul, #nav li {
	height:100%;
	float:left; 
	list-style:none;
	display: inline;
	padding:0 10px 0 0 ;
}

#nav li a:link, #nav li a:visited, #nav li a:hover { 
	

	font-size:18px; 
	text-transform:lowercase; 
	text-decoration: bold;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	color:#000; 
	background-color:#fff;
	display: inline;

}



